@model HRPortal.Models.Application
@{
    ViewBag.Title = "Apply";
    Layout = "~/Views/Shared/_Public.cshtml";
}


<div>
    <form action="~/Home/Apply" method="post" class="form-horizontal" id="applicationForm">

        @Html.AntiForgeryToken()

        <div class="form-horizontal app">
            <div class="col-xs-12 apphead">
                <h1 class="apptitle">APPLICATION</h1>
            </div>
            <div class="row">
                <div class="@($"alert {ViewData["alertType"]}")" style="@($"display: {ViewData["alertDisplay"]}")">
                    <h4 class="response">@ViewData["alertMsg"]</h4>
                </div>
            </div>

            <div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>
            <hr />
            <div class="form-group appform" style="margin-left: 15px;">
                @Html.LabelFor(model => model.LastName, "Last name", new { @class = "control-label col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-4 col-xs-12" })
                <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12">
                    <input class="form-control text-box single-line" id="LastName" name="LastName" type="text">
                </div>
            </div>

            <div class="form-group appform" style="margin-left: 15px;">
                @Html.LabelFor(model => model.FirstName, "First name", new { @class = "control-label col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-4 col-xs-12" })
                <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12">
                    <input class="form-control text-box single-line" id="FirstName" name="FirstName" type="text">
                </div>
            </div>

            <div class="form-group appform" style="margin-left: 15px;">
                @Html.LabelFor(model => model.Email, "Email", new { @class = "control-label col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-4 col-xs-12" })
                <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12">
                    <input class="form-control text-box single-line" id="Email" name="Email" type="text">
                </div>
            </div>

            <div class="form-group appform" style="margin-left: 15px;">
                @Html.LabelFor(model => model.Phone, "Phone #", new { @class = "control-label col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-4 col-xs-12" })
                <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12">
                    <input class="form-control text-box single-line" id="Phone" name="Phone" type="text">
                </div>
            </div>

            <div class="form-group appform" style="margin-left: 15px;">
                @Html.LabelFor(model => model.LinkedIn, "LinkedIn", new { @class = "control-label col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-4 col-xs-12" })
                <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12">
                    <input class="form-control text-box single-line" id="LinkedIn" name="LinkedIn" type="text">
                </div>
            </div>

            <div class="form-group appform" style="margin-left: 15px;">
                @Html.LabelFor(model => model.WhyInterested, "Why are you interested in us?", new { @class = "control-label col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-4 col-xs-12" })
                <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12">
                    <textarea class="form-control" cols="20" id="WhyInterested" name="WhyInterested" rows="4"></textarea>
                </div>
            </div>

            <div class="form-group appform" style="margin-left: 15px; margin-right: 15px; width: 98%; text-align: center;">
                <div class="col-md-12">
                    <button onclick="checkBeforeSubmit();" id="form_Button" class="btn btn-default btn-danger" type="button">SUBMIT</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts
{
    <script src="~/Scripts/CheckApplicationForm.js"></script>
}